@import "reset"
@import "fonts"


.main
  margin: 0
  font-size: 14px
  color: #2c475d
  font-family: 'sans-serif'
  position: relative
  text-align: right
  direction: rtl

.gameBlock
  display: inline-block
  vertical-align: top
  width: 100%

.dataBlock
  position: fixed
  right: 0
  top: 0
  background: #fff
  width: 100%
  height: 40px
  box-shadow: 0 -3px 12px -5px rgba(0,0,0,0.3)
  section
    display: inline-block
    position: relative
    font-familt: 'SDF', 'BYekan', sans-serif
    height: 100%
  .seperatorTitle
    position: absolute
    right: 0
    top: 0
    width: 25px
    height: 100%
    overflow: visible
    background: #ccc
    .rightTitle
      transform: rotate(-90deg)
      display: block
      height: 100%
      font-size: 11px
      font-family: 'BYekan', sans-serif
      color: #fff
      position: relative
      right: -6px
      text-align: right 

  .playersPart
    padding-right: 30px
   


.btn
  border: none
  border-radius: 5px
  background: #ccc
  color: #fff
  box-shadow: 0 -3px 10px -2px rgba(0,0,0,.5)

.player,
.addPlayer
  border-radius: 8px
  border: none
  width: 35px
  height: 35px
  text-align: center
  line-height: 40px
  vertical-align: middle
  position: relative
  font-size: 14px
  color: #fff
  transform: scale(0.9)
  transition: transform ease-in-out 0.3s
  display: inline-block
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1)
  &:hover
    transform: scale(1)
  &:after
    content: attr(data-name)
    background: #000
    font-family: 'BYekan', sans-serif
    position: absolute
    bottom: -25px
    left: 50%
    transform: scale(0) translate(-50%, 0)
    display: block;
    line-height: 20px;
    padding: 0px 12px;
    border-radius: 5px
    transition: transform ease-in-out 0.3s,bottom ease-in-out 0.3s
  &:hover:after
    transform: scale(1) translate(-50%, 0)

.player.active
  background: #fff !important
  box-shadow: 0 3px 12px -3px #b7fd0d
  transform: scale(1)


.diceButton
  font-size: 16px
  border: none
  




.results
  padding: 0 32px

.inlineBlock
  display: inline-block

.resultCard
  margin-right: 16px
  margin-bottom: 16px
  padding: 16px 24px
  border-radius: 4px
  line-height: 1.6rem
  box-shadow: 0 3px 12px rgba(0, 0, 0, .1)
  border: 1px solid #ccc
  display: inline-block
  background: #fff
  font-familt: 'SDF', 'BYekan', sans-serif
  color: #222
  font-size: 16px
  cursor: move

.rules
  margin-top: 16px
  font-size: 12px
  color: #ccc

.btn
  background: #1781a9
  color: #fff
  border-radius: 10px
  border: none


#cubeContainer
  width: 100px
  height: 100px
  position: relative
  margin: 30px auto
  -webkit-perspective: 1000px
  -moz-perspective: 1000px
  -o-perspective: 1000px
  perspective: 1000px
  cursor: pointer

#cube
  width: 100%
  height: 100%
  position: absolute
  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  -o-transform-style: preserve-3d
  transform-style: preserve-3d
  -webkit-transition: -webkit-transform .5s
  -moz-transition: -moz-transform .5s
  -o-transition: -o-transform .5s
  transition: transform .5s
  figure
    display: block
    position: absolute
    width: 100px
    height: 100px
    line-height: 97px
    font-size: 60px
    font-family: "BYekan"
    color: #fff
    text-align: center
  &.panels-backface-invisible figure
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    -o-backface-visibility: hidden
    backface-visibility: hidden
  > figure
    background: #303030
  .front
    -webkit-transform: translateZ(50px)
    -moz-transform: translateZ(50px)
    -o-transform: translateZ(50px)
    transform: translateZ(50px)
  .back
    -webkit-transform: rotateX(-180deg) translateZ(50px)
    -moz-transform: rotateX(-180deg) translateZ(50px)
    -o-transform: rotateX(-180deg) translateZ(50px)
    transform: rotateX(-180deg) translateZ(50px)
  .right
    -webkit-transform: rotateY(90deg) translateZ(50px)
    -moz-transform: rotateY(90deg) translateZ(50px)
    -o-transform: rotateY(90deg) translateZ(50px)
    transform: rotateY(90deg) translateZ(50px)
  .left
    -webkit-transform: rotateY(-90deg) translateZ(50px)
    -moz-transform: rotateY(-90deg) translateZ(50px)
    -o-transform: rotateY(-90deg) translateZ(50px)
    transform: rotateY(-90deg) translateZ(50px)
  .top
    -webkit-transform: rotateX(90deg) translateZ(50px)
    -moz-transform: rotateX(90deg) translateZ(50px)
    -o-transform: rotateX(90deg) translateZ(50px)
    transform: rotateX(90deg) translateZ(50px)
  .bottom
    -webkit-transform: rotateX(-90deg) translateZ(50px)
    -moz-transform: rotateX(-90deg) translateZ(50px)
    -o-transform: rotateX(-90deg) translateZ(50px)
    transform: rotateX(-90deg) translateZ(50px)
  &.show-spining
    -webkit-transform: translateZ(-50px) rotateX(20deg) rotateY(20deg)
    -moz-transform: translateZ(-50px) rotateX(20deg) rotateY(20deg)
    -o-transform: translateZ(-50px) rotateX(20deg) rotateY(20deg)
    transform: translateZ(-50px) rotateX(20deg) rotateY(20deg)
  &.show-1
    -webkit-transform: translateZ(-50px)
    -moz-transform: translateZ(-50px)
    -o-transform: translateZ(-50px)
    transform: translateZ(-50px)
  &.show-2
    -webkit-transform: translateZ(-50px) rotateX(-180deg)
    -moz-transform: translateZ(-50px) rotateX(-180deg)
    -o-transform: translateZ(-50px) rotateX(-180deg)
    transform: translateZ(-50px) rotateX(-180deg)
  &.show-3
    -webkit-transform: translateZ(-50px) rotateY(-90deg)
    -moz-transform: translateZ(-50px) rotateY(-90deg)
    -o-transform: translateZ(-50px) rotateY(-90deg)
    transform: translateZ(-50px) rotateY(-90deg)
  &.show-4
    -webkit-transform: translateZ(-50px) rotateY(90deg)
    -moz-transform: translateZ(-50px) rotateY(90deg)
    -o-transform: translateZ(-50px) rotateY(90deg)
    transform: translateZ(-50px) rotateY(90deg)
  &.show-5
    -webkit-transform: translateZ(-50px) rotateX(-90deg)
    -moz-transform: translateZ(-50px) rotateX(-90deg)
    -o-transform: translateZ(-50px) rotateX(-90deg)
    transform: translateZ(-50px) rotateX(-90deg)
  &.show-6
    -webkit-transform: translateZ(-50px) rotateX(90deg)
    -moz-transform: translateZ(-50px) rotateX(90deg)
    -o-transform: translateZ(-50px) rotateX(90deg)
    transform: translateZ(-50px) rotateX(90deg)

@-webkit-keyframes spaceboots
  0%
    -webkit-transform: translate(4px, 1px) rotate(0deg)

  10%
    -webkit-transform: translate(-1px, -2px) rotate(-2deg)

  20%
    -webkit-transform: translate(-4px, 0px) rotate(1deg)

  30%
    -webkit-transform: translate(0px, 2px) rotate(0deg)

  40%
    -webkit-transform: translate(1px, -1px) rotate(1deg)

  50%
    -webkit-transform: translate(-1px, 2px) rotate(-2deg)

  60%
    -webkit-transform: translate(-4px, 1px) rotate(0deg)

  70%
    -webkit-transform: translate(4px, 1px) rotate(-2deg)

  80%
    -webkit-transform: translate(-1px, -1px) rotate(1deg)

  90%
    -webkit-transform: translate(4px, 2px) rotate(0deg)

  100%
    -webkit-transform: translate(1px, -2px) rotate(-2deg)


.snakedPlayer
  -webkit-animation-name: spaceboots
  -webkit-animation-duration: 1s
  -webkit-transform-origin: 50% 50%
  -webkit-animation-iteration-count: infinite
  -webkit-animation-timing-function: linear

@media screen and (max-width: 700px)
  .gameRow > span
    font-size: 11px

@media screen and (max-width: 600px)
  .gameRow > span
    font-size: 10px
