body {
  background: #f9f9f9;
}

.main {
  margin: 0;
  font-size: 14px;
  color: #2c475d;
  font-family: "sans-serif";
  position: relative;
  text-align: right;
  direction: rtl;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCenter div {
  min-width: 20%;
}

.gameBlock {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.dataBlock {
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  width: 100%;
  height: 55px;
  z-index: 999;
  display: flex;
  box-shadow: 0 -9px 28px -5px rgba(0, 0, 0, 0.3);
}

.dataBlock section {
  display: flex;
  outline: none;
  position: relative;
  font-family: "SDF", "BYekan", sans-serif;
  height: 100%;
}

.dataBlock .separatorTitle {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 2px;
  height: 100%;
  overflow: visible;
  background-image: linear-gradient(to bottom, #8f0ba7 0%, #4568DC 100%);
}

.dataBlock .separatorTitle .rightTitle {
  transform: rotate(-90deg);
  display: block;
  height: 100%;
  font-size: 12px;
  font-family: "BYekan", sans-serif;
  color: #fff;
  position: relative;
  right: -14px;
  text-align: right;
}

.dataBlock .playersPart {
  padding-right: 35px;
}

.dataBlock .rollDicePart {
  align-items: start;
}

.dataBlock .rollDicePart button {
  opacity: 1;
  background-image: linear-gradient(to right, #e44d26 0%, #f16529 51%, #e44d26 100%);
  padding: 24px 25px 24px 18px;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  background-size: 200%;
  cursor: pointer;
  color: white;
  box-shadow: rgba(206, 69, 21, 0.68) 0px 10px 34px -5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: block;
  font-size: 20px;
  position: relative;
  border: none;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  font-family: "BYekan", "SDF", sans-serif;
}

.dataBlock .messagePart {
  align-items: center;
  padding-right: 10px;
  padding-left: 12px;
  font-size: 12px;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}

.dataBlock .messagePart [role=img] {
  margin-right: 6px;
  font-size: 27px;
  position: relative;
  top: 2px;
  width: auto;
  overflow: visible;
}

.dataBlock .controlPart {
  margin-right: auto;
}

.player,
.addPlayer,
.btn {
  border-radius: 8px;
  border: none;
  outline: none;
  width: 35px;
  height: 80%;
  margin-left: 4px;
  min-width: 45px;
  text-align: center;
  font-size: 14px;
  position: relative;
  vertical-align: middle;
  top: 4px;
  color: #fff;
  transform: scale(0.82);
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  display: inline-block;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.player:hover,
.addPlayer:hover,
.btn:hover {
  transform: scale(0.9);
}

.player:after,
.addPlayer:after,
.btn:after {
  content: attr(data-name);
  background: #000;
  font-family: "BYekan", sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  outline: none;
  transform: scale(0);
  margin-left: -48px;
  display: block;
  line-height: 22px;
  padding: 0 12px;
  min-width: 96px;
  border-radius: 5px;
  transition: transform ease-in-out 300ms, bottom ease-in-out 300ms;
  transition-delay: 500ms;
  z-index: 99999;
}

.player:hover:after,
.addPlayer:hover:after,
.btn:hover:after {
  transform: scale(1);
  bottom: -30px;
  transition-duration: 0.18s;
}

.player.active {
  background: #fff !important;
  transform: scale(1);
  border: 2px solid;
}

.konvajs-content {
  width: 100% !important;
  min-height: 85vh;
}

.konvajs-content canvas {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: #ccc;
  color: #fff;
  width: auto;
  margin: 0;
}

.btn.big {
  background-image: linear-gradient(to right, #0cebeb 0%, #20e3b2 51%, #0cebeb 100%);
  margin: 10px;
  padding: 20px 70px 20px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 20px;
  position: relative;
}

.btn.big.red {
  background-image: linear-gradient(to right, #F00000 0%, #DC281E 51%, #F00000 100%);
}

.btn.big.orange {
  background-image: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%);
}

.btn.big.black {
  background-image: linear-gradient(to right, #41295a 0%, #2F0743 51%, #41295a 100%);
}

.btn.big .icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -20%);
  font-size: 38px;
}

.btn.big:hover {
  background-size: 50%;
}

.diceButton {
  font-size: 16px;
  border: none;
}

.topSpace {
  height: 80px;
}

.resultCard {
  margin-right: 0;
  margin-bottom: 26px;
  margin-top: 26px;
  padding: 0 24px 16px 24px;
  border-radius: 15px;
  line-height: 1.6rem;
  box-shadow: 0 9px 59px -17px #1be591a1;
  display: inline-block;
  width: calc(100% - 15px);
  background: #fff;
  font-family: "SDF", "BYekan", sans-serif !important;
  color: #222;
  font-size: 16px;
  cursor: move;
  border: 3px solid #1be591;
}

.resultCard strong {
  font-family: "SDF", "BYekan", sans-serif !important;
  font-size: 24px;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 5px 20px -3px #fdc40b;
  border-radius: 10px;
  display: block;
  position: relative;
  top: -24px;
  background-image: linear-gradient(to right, #F7971E 0%, #e8c312 51%, #F7971E 100%);
}

.resultsHolder {
  flex-wrap: wrap;
}

.resultsHolder div {
  min-width: 25%;
  flex-basis: 25%;
}

.resultsHolder div:nth-child(2n) .resultCard {
  border: 3px solid #B06AB3;
}

.resultsHolder div:nth-child(2n) strong {
  background-image: linear-gradient(to right, #4568DC 0%, #B06AB3 51%, #4568DC 100%);
  box-shadow: 0 5px 20px -3px #B06AB3;
}

.rules {
  margin-top: 16px;
  font-size: 12px;
  color: #ccc;
}

.btn {
  background: #1781a9;
  color: #fff;
  border-radius: 10px;
  border: none;
}

#gatsby-focus-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.suspenseShapes svg {
  position: absolute;
  max-width: 200px;
}

.suspenseShapes #ladderSvg {
  right: -44px;
  top: -4rem;
  transform: rotate(67deg);
}

.suspenseShapes #ladderSvg * {
  fill: rgba(228, 228, 228, 0.49);
}

.suspenseShapes #snakeSvg {
  left: -31px;
  top: -10rem;
  transform: rotate(145deg);
}

.suspenseShapes #snakeSvg * {
  fill: #edf9ca;
}

.suspenseShapes #topHexagon {
  left: -31px;
  top: 4rem;
  animation: spin infinite 100s;
}

.suspenseShapes #topHexagon * {
  fill: rgba(255, 255, 255, 0.45);
}

.suspenseShapes #hexagonSvg {
  left: -31px;
  bottom: -4rem;
  animation: spin infinite 100s;
  transform: rotate(128deg);
}

.suspenseShapes #hexagonSvg * {
  fill: rgba(178, 205, 228, 0.21);
}

.suspenseShapes #plusSvg {
  right: -5rem;
  bottom: -5rem;
  min-width: 300px;
  animation: spin infinite 100s;
  transform: rotate(18deg);
}

.suspenseShapes #plusSvg * {
  fill: rgba(203, 224, 75, 0.14);
}

#cubeContainer {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  cursor: pointer;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  opacity: 0;
  transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s;
  transform: translate(-50%, -50%) scale(1.4);
}

#cubeContainer.show {
  opacity: 0.8;
  transform: translate(-50%, -50%) scale(1);
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.24s;
  -moz-transition: -moz-transform 0.24s;
  -o-transition: -o-transform 0.24s;
  transition: transform 0.24s;
}

#cube figure {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 97px;
  font-size: 60px;
  font-family: "BYekan";
  color: #fff;
  text-align: center;
}

#cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

#cube > figure {
  background: #303030;
}

#cube .front {
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
}

#cube .back {
  -webkit-transform: rotateX(-180deg) translateZ(50px);
  -moz-transform: rotateX(-180deg) translateZ(50px);
  -o-transform: rotateX(-180deg) translateZ(50px);
  transform: rotateX(-180deg) translateZ(50px);
}

#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(50px);
  -moz-transform: rotateY(90deg) translateZ(50px);
  -o-transform: rotateY(90deg) translateZ(50px);
  transform: rotateY(90deg) translateZ(50px);
}

#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
  -moz-transform: rotateY(-90deg) translateZ(50px);
  -o-transform: rotateY(-90deg) translateZ(50px);
  transform: rotateY(-90deg) translateZ(50px);
}

#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(50px);
  -moz-transform: rotateX(90deg) translateZ(50px);
  -o-transform: rotateX(90deg) translateZ(50px);
  transform: rotateX(90deg) translateZ(50px);
}

#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(50px);
  -moz-transform: rotateX(-90deg) translateZ(50px);
  -o-transform: rotateX(-90deg) translateZ(50px);
  transform: rotateX(-90deg) translateZ(50px);
}

#cube.show-spinning {
  -webkit-transform: translateZ(-50px) rotateX(20deg) rotateY(20deg);
  -moz-transform: translateZ(-50px) rotateX(20deg) rotateY(20deg);
  -o-transform: translateZ(-50px) rotateX(20deg) rotateY(20deg);
  transform: translateZ(-50px) rotateX(20deg) rotateY(20deg);
}

#cube.show-1 {
  -webkit-transform: translateZ(-50px);
  -moz-transform: translateZ(-50px);
  -o-transform: translateZ(-50px);
  transform: translateZ(-50px);
}

#cube.show-2 {
  -webkit-transform: translateZ(-50px) rotateX(-180deg);
  -moz-transform: translateZ(-50px) rotateX(-180deg);
  -o-transform: translateZ(-50px) rotateX(-180deg);
  transform: translateZ(-50px) rotateX(-180deg);
}

#cube.show-3 {
  -webkit-transform: translateZ(-50px) rotateY(-90deg);
  -moz-transform: translateZ(-50px) rotateY(-90deg);
  -o-transform: translateZ(-50px) rotateY(-90deg);
  transform: translateZ(-50px) rotateY(-90deg);
}

#cube.show-4 {
  -webkit-transform: translateZ(-50px) rotateY(90deg);
  -moz-transform: translateZ(-50px) rotateY(90deg);
  -o-transform: translateZ(-50px) rotateY(90deg);
  transform: translateZ(-50px) rotateY(90deg);
}

#cube.show-5 {
  -webkit-transform: translateZ(-50px) rotateX(-90deg);
  -moz-transform: translateZ(-50px) rotateX(-90deg);
  -o-transform: translateZ(-50px) rotateX(-90deg);
  transform: translateZ(-50px) rotateX(-90deg);
}

#cube.show-6 {
  -webkit-transform: translateZ(-50px) rotateX(90deg);
  -moz-transform: translateZ(-50px) rotateX(90deg);
  -o-transform: translateZ(-50px) rotateX(90deg);
  transform: translateZ(-50px) rotateX(90deg);
}

@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(4px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(-4px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-2deg);
  }
  60% {
    -webkit-transform: translate(-4px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(4px, 1px) rotate(-2deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(4px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-2deg);
  }
}

.snakedPlayer {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 1s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@media screen and (max-width: 700px) {
  .gameRow > span {
    font-size: 11px;
  }
}

@media screen and (max-width: 600px) {
  .messagePart {
    display: none !important;
  }

  .controlPart {
    position: absolute;
    left: 0;
  }

  .konvajs-content {
    min-height: 70vh !important;
  }

  .gameRow > span {
    font-size: 10px;
  }
}
